
.typewriter h1 {
    overflow: hidden; /* Hide overflow to create the typing effect */
    white-space:  pre-wrap; 
    border-right: 2px solid green; /* Create cursor effect */
    animation: typing 20s infinite alternate;
  }
  
  @keyframes typing {
 from{
    width: 10%;
 }
 to{
    width: 10%;
 }
 to{
    width: 30%;
 }
 to{
    width: 50%;
 } to{
    width: 100%;
 }
    
  }
  
  @keyframes blink {
    to {
      border-color: hotpink; /* Hide cursor */
    }
  }
  