/* Add this style to your TextAnimationCss.css */

.highlight-letter {
  color: #29fed7; /* Green */
  font-weight: bold;
}

/* TextAnimationCss.css */

/* TextAnimationCss.css */

.text-animate, .highlight-letter {
  animation: fadeInUp 1s ease-in-out forwards;
  opacity: 0;
}

.skew-animate,  .rainbow-letter {
  animation: skewIn 1s ease-in-out forwards;
  transform: skewX(-20deg) scaleX(0);
  transform-origin: top left;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes skewIn {
  0% {
    transform: skewX(-20deg) scaleX(0);
    opacity: 0;
  }
  100% {
    transform: skewX(0) scaleX(1);
    opacity: 1;
  }
}

.green-letter {
  color: #29fed7; /* Green color */
}