/* Add this style to your TextAnimationCss.css */

.highlight-letter {
  color: #33FF75; /* Green */
  font-weight: bold;
}

/* TextAnimationCss.css */

/* TextAnimationCss.css */

.text-animate, .highlight-letter {
  animation: fadeInUp 1s ease-in-out forwards;
  opacity: 0;
}

.skew-animate,  .rainbow-letter {
  animation: skewIn 1s ease-in-out forwards;
  transform: skewX(-20deg) scaleX(0);
  transform-origin: top left;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes skewIn {
  0% {
    transform: skewX(-20deg) scaleX(0);
    opacity: 0;
  }
  100% {
    transform: skewX(0) scaleX(1);
    opacity: 1;
  }
}

.green-letter {
  color: #33ff75; /* Green color */
}

/* .red-letter {
  color: #02a63e; /* Red color */
/* } */


/* .yellow-letter {
  color: #ffc933; Yellow color
}

/* .blue-bold-letter {
  color: #336cff; /* Blue color */
  /* font-weight: bold; */
/* }  */
/* 
.rainbow-letter {
  background-image: linear-gradient(to left, #ff5733, #33ff75, #336cff, #ff33c9, #ffc933);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow 3s linear infinite;
}  */

/* .glow-letter {
  color: #ff5733;
  text-shadow: 0 0 10px rgba(255, 87, 51, 0.8);
}

@keyframes rainbow {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
} */ 
