/* Add this style to your TextAnimationCss.css */

.highlight-letter {
  color: #29fed7; /* Green */
  font-weight: bold;
}

/* TextAnimationCss.css */

/* TextAnimationCss.css */

.text-animate, .highlight-letter {
  animation: fadeInUp 1s ease-in-out forwards;
  opacity: 0;
}

.skew-animate,  .rainbow-letter {
  animation: skewIn 1s ease-in-out forwards;
  transform: skewX(-20deg) scaleX(0);
  transform-origin: top left;
}



.green-letter {
  color: #29fed7; /* Green color */
}

.typing-animation {
  overflow: hidden; /* Hide overflow to create typing effect */
}

.typing-text {
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflow */
  border-right: 0.14em solid #000; /* Blinking cursor */
  /* Adjust font size as needed */
  animation: typing 7s steps(40) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}


