body{
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
    background: "#8892b0";
}
a{
    font-family: 'Fira Mono', monospace;
}
.fira{
    font-family: 'Fira Mono', monospace;
}
.rubik{
    font-family: "Rubik", sans-serif;
}
.merina{
    font-family: 'Spinnaker', sans-serif;
}