body{
    font-family:'Roboto Mono', monospace;
    color: whitesmoke;
    background: "#8892b0";
    font-weight: 400;
}
a{
    font-family: 'Fira Mono', monospace;
}
.fira{
    font-family: 'Fira Mono', monospace;
}
.rubik{
    font-family: "Rubik", sans-serif;
}
.merina{
    font-family: 'Spinnaker', sans-serif;
}

.Exo2_SanSer{
    font-family: 'Exo 2', sans-serif;
}